body {
  width: 100%;
  height: 100%;
  background-color: #778899;
  font-family: 'Share Tech Mono', monospace;
  color: #fff;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  text-transform: lowercase;
}
::-webkit-scrollbar {
  display: none;
}
.main-content {
  position: absolute;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.09);
  left: 25px;
  right: 25px;
  top: 25px;
  bottom: 25px;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  border-radius: 10px;
  display: grid;
  grid-template-areas: 'p c';
}
@media screen and (max-width: 1900px) {
  .main-content {
    grid-template-columns: 500px auto;
  }
}
#profile {
  grid-area: 'p';
  text-align: center;
  padding-top: 15px;
}
#profile .contact-item {
  padding: 30px 10px 0px 10px;
}
#profile .contact-item a {
  text-decoration: none;
  color: white;
}
#profile .contact-item a :hover {
  color: rgba(0, 0, 0, 0.15);
}
#profile h2 {
  font-weight: lighter;
  font-size: 1.6em;
}
#profile .profile-text {
  font-size: 1.4em;
}
#profile #profile-img {
  width: 260px;
  height: 260px;
  border-radius: 130px;
}
#sub-content {
  grid-area: 'c';
  padding-top: 50px;
}
#sub-content .toggable-title {
  font-size: 1.3em;
}
#sub-content .content-item {
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
  font-size: 1em;
  padding-top: 30px;
}
#sub-content .content-item .collapse-wrapper {
  display: none;
  margin-left: -30px;
}
#sub-content .content-item > a {
  color: white;
  transition: 120ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 120ms;
  -webkit-transition-timing-function: ease-in-out;
}
#sub-content .content-item > a:hover {
  color: black;
  text-decoration: none;
}
#sub-content .content-item > a.toggable-title:after {
  content: " [+]";
}
#sub-content .content-item > a.toggable-title.active:after {
  content: " [-]";
}
.black-bold {
  color: black;
  font-weight: 600;
}
