//wave: https://media.giphy.com/media/3o7TKwBiaPbVVcdIuk/giphy.gif
//smile: https://media.giphy.com/media/eH5e8LXYBzKKI/giphy.gif
@body-background-color: #778899;
@main-filter: rgba(0, 0, 0, 0.09);
@main-font-color: #fff;
@main-content-margin: 25px;
body {
  width: 100%;
  height: 100%;
  background-color: @body-background-color;
  font-family: 'Share Tech Mono', monospace;
  color: @main-font-color;
  //letter-spacing: 0.098rem;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  text-transform: lowercase;
}

.main-content{
  position: absolute;
  background-color: @main-filter;
  left: @main-content-margin;
  right: @main-content-margin;
  top: @main-content-margin;
  bottom: @main-content-margin;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  border-radius: 10px;
  display: grid;
  grid-template-areas: 'p p c c c c'
}
#profile {
  grid-area: 'p';
  text-align: center;
  padding-top: 15px;
  .contact-item{
    padding: 0px 10px 0px 10px;
    a{
      text-decoration: none;
      color: white;
      :hover{
        color: rgba(0,0,0,0.15);
      }
    }
  }
  h2{
    font-weight: lighter;
    font-size: 1.6em;
  }
  .profile-text{
    font-size: 1.4em;
  }
  #profile-img{
    width: 260px;
    height: 260px;
    border-radius: 130px;
  }
}

#about {
  padding-left: 10px;
  #about-intro{
    font-size: 1.7em;
    padding-top: 10px;
  }
}

.black-bold {
  color: black;
  font-weight: 600;
}
