// COLORS
@blue: #63ACE5; 
@lighter-blue: rgba(173, 220, 229, 0.3);
@orange-red: #ff5a5a;
@pink-red: #ff7d88;

@header-font: 'Fugaz One', cursive;
@content-font: 'Shrikhand', cursive;
@text-font: 'Raleway', sans-serif;
@nav-font: 'Bangers';
@main-font-color: #fff;
@main-content-margin: 25px;
@arrow_transition: 0.8s;

body {
  width: 100%;
  height: 100%;
  background-color: @blue;
  font-family: @header-font;
  color: @main-font-color;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

::-webkit-scrollbar {
  display: none;
}

.main-content{
  position: absolute;
  overflow: auto;
  background-color: @lighter-blue;
  left: @main-content-margin;
  right: @main-content-margin;
  top: @main-content-margin;
  bottom: @main-content-margin;
  max-width: 100%;
  margin: auto;
  border-radius: 10px;
  display: grid;
  grid-template-areas: 'intro'
                       'about'
                       'work'
                       'education'
                       'contact';
}
@media screen and (max-width: 1900px) {
  .main-content{
    //grid-template-columns: 500px auto;
  }
}

#intro-container{
    display: flex;
    grid-area: intro;
    justify-content: center;
    text-align: center;
    align-items: center;
    #intro-contents{
        justify-content: center;
        h1 {
            font-size: 64px;
        }
        h2 {
            font-size: 46px;
        }
        #explore-button{
            display: inline-block;
            border: 4px solid white;
            margin-top: 10px;
            padding: 5px;
            font-size: 32px;
            i {
                transition: @arrow_transition;
                -webkit-transition: @arrow_transition;
                -moz-transition: @arrow_transition;
                -ms-transition: @arrow_transition;
                -o-transition: @arrow_transition;
                -moz-transform: rotate(0deg);
                -webkit-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                transform: rotate(0deg);
            }
        }
        #explore-button:hover {
            cursor: pointer;
            transition: @arrow_transition;
            -webkit-transition: @arrow_transition;
            -moz-transition: @arrow_transition;
            -ms-transition: @arrow_transition;
            -o-transition: @arrow_transition;
            border-color: #444;
            color: #444;
            i {
                
                -moz-transform: rotate(90deg);
                -webkit-transform: rotate(90deg);
                -o-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                transform: rotate(90deg);
                color: #444;
            }
        }
    }
   
}


#nav {
  display: flex;
  align-items: center;
  height: 50px;
  background-color: @pink-red;
  border-radius: 10px 10px 0px 0px;
  letter-spacing: 1.5px;
  z-index: 100;
  
  font-size: 1.5rem;
  font-family: @nav-font;
  border-bottom: 2px solid white;
  
  .active{
    color: #444;
  }
  
  a {
    margin-left: 50px;
    cursor: pointer;
  }
  a:hover{
    color: #444;
  }
}

.fixed{
    top: @main-content-margin;
    z-index: 100;
    position: fixed;
}

.sticky{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

#about{
  grid-area: about;
  margin-top: 85px;
  .section-title{
    display: block;
    text-align: center;
  }
  .about-container{
      margin-top: 50px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 425px 1fr;
      grid-template-areas: 'polaroid skills'
                           'about skills';
      justify-items: center;
      .polaroid{
        grid-area: polaroid;
        text-align: center;
        height: 390px;
        width: 320px;
        background-image: url('../../images/pic-texture.jpg');
        box-shadow: -1px 1px 3px 1px #666;
        transform: rotate(-4deg);
        img{
             margin: 10px 0px 0px 0px;
        }
      }
      .about-intro{
          grid-area: about;
          margin-left: 20px;
          font-family: @text-font;
          letter-spacing: 1.3px;
          color: black;
      }
      .skills{
          grid-area: skills;
          color: black;
          .card {
              width: 550px;
              height: 170px;
              margin-bottom: 25px;
            .card-body{
              background-color: #ddd;            }
          }
        .icon-group{
          display: flex;
          justify-content: space-around;
          align-items: flex-start;
          img{
            height: 80px;
            width: 80px;
          }
        }
      }
  }
    
}

.white-bold {
  color: #eee;
  font-weight: 500;
}

.title-divider{
  display: inline-block;
  width: 100px;
  height: 5px;
  background-color: white;
  
}